<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= name %></title>
    <meta name="description" content="Description">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="compiled_sources/main.css" inline>
	<script>
		document.write('<script src="'+ (window.API_URL || 'https://s1.adform.net/banners/scripts/rmb/Adform.DHTML.js?bv='+ Math.random()) +'"><\/script>');
	</script>
</head>

<body>

<h1>I was expecting you.</h1>

<script src="compiled_sources/main.js" inline></script>
</body>
</html>
